<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interactive Map</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
</head>
<body>
    <div id="map" style="height: 500px;"></div>

    <script>
        // Initialiser la carte
        var map = L.map('map').setView([43.2951, -0.3708], 13); // Coordonnées de Pau
    
        // Ajouter une couche de tuiles (OpenStreetMap)
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; OpenStreetMap contributors'
        }).addTo(map);
    
        // Fonction pour ajouter un marqueur sur la carte
        function addMarker(latitude, longitude, dad_name) {
            var marker = L.marker([latitude, longitude]).addTo(map);
            marker.bindPopup(dad_name);  // Afficher "dad_name" lors du clic sur le marqueur
        }
    
        // Fonction pour supprimer un marqueur de la carte
        function removeMarker(dad_id) {
            map.eachLayer(function (layer) {
                if (layer instanceof L.Marker && layer.getPopup().getContent() === dad_id) {
                    map.removeLayer(layer);
                }
            });
        }
    
        // Se connecter au WebSocket
        var socket = new WebSocket("ws://localhost:8000/mapws");
    
        // Gérer les messages du WebSocket
        socket.onmessage = function(event) {
            var data = JSON.parse(event.data);
            if (data.ping) {
                socket.send(JSON.stringify({ pong: pong }));
                return;
            }
            var dad_id = data.dad_id;
            var latitude = data.latitude;
            var longitude = data.longitude;
            removeMarker(dad_id); // Supprimer le marqueur avec le même dad_id
            addMarker(parseFloat(latitude), parseFloat(longitude), dad_id);
        };
    </script>
</body>
</html>
